services:
    web:
        build: .
        volumes:
        - .:/var/www/html
        env_file:
        - .env
        environment:
          - DB_HOST=db
        restart: unless-stopped
        ports:
        - "${TRADING_PORT}:80"
        depends_on:
            db:
                condition: service_healthy
        networks:
            - internal
    db:
        image: mysql:8.0
        command: --default-authentication-plugin=mysql_native_password
        volumes:
            - db_data:/var/lib/mysql
        env_file:
            -  .env
        environment:
            MYSQL_DATABASE: ${DB_NAME}
            MYSQL_ROOT_PASSWORD: ${DB_PASS}
        ports:
            - "${DB_PORT}:3306"
        networks:
            - internal
        healthcheck:
            test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
            interval: 10s
            retries: 5
            timeout: 5s
volumes:
    db_data:

networks:
  internal: